<div class="hCenter">
    <div class="hRightMain">
        <div>
            <div>&nbsp;</div>
            <div>Hotel</div>
            <div>Price</div>
            <div>Booking</div>
            <div>Trip Advisor</div>
            <div>Travel time</div>
            <div>Attractions</div>
        </div>

        {{#each model.hotels as |hotel index|}}
        <div>
            <div>{{hotelIndex index}}{{#if index}}<img {{action "click" "delete" hotel.id}} src="assets/images/delete.png" />{{/if}} </div>
            <div>{{input class="hHotelName" type="text" value=(mut (get hotel "name")) }}</div>
            <div>{{input  class="hHotelPrice" type="number"   value="{{hotel.price}}"   }}</div>
            <div>{{input class="hHotelRating" type="text" value="3.9" }}</div>
            <div>{{input class="hHotelTravel" type="text" value="1h" }}</div>
            <div>{{input class="hHotelRating" type="text" value="4" }}</div>
            <div>{{input class="hHotelAttraction" type="text" value="Ciuciu" }}</div>
        </div>
        {{/each}}
    </div>
    <div class="hRightAdvanced">
        {{young-slider className="hSlider"}}
    </div>
</div>
<div class="fab">

    <img {{action "click" "fab-add"}} src="assets/images/add.png" alt="add"/>
</div>