<div class="hCenter">
    <div class="hRightMain">
        <div>
            <div>&nbsp;</div>
            <div>Hotel</div>
            <div>Price</div>
            <div>Booking</div>
            <div>Trip Advisor</div>
            <div>Travel time</div>
            <div>Attractions</div>
        </div>
        <div>
            <div>1st offer</div>
            <div>€{{input class="hHotelName" type="text" value="Porto Palace Hotel" }}</div>
            <div>{{input  class="hHotelPrice" type="number"   value="101"   }}</div>
            <div>{{input class="hHotelRating" type="text" value="3.9" }}</div>
            <div>{{input class="hHotelTravel" type="text" value="1h" }}</div>
            <div>{{input class="hHotelRating" type="text" value="4" }}</div>
            <div>{{input class="hHotelAttraction" type="text" value="Ciuciu" }}</div>
        </div>
        <div>
            <div>2nd offer</div>
            <div>{{input class="hHotelName" type="text" value="Electra Palace Thessaloniki" }}</div>
            <div>{{input class="hHotelPrice" type="number" value="126" }}</div>
            <div>{{input class="hHotelRating" type="text" value="4.3" }}</div>
            <div>{{input class="hHotelRating" type="text" value="4.5" }}</div>
            <div>{{input class="hHotelTravel" type="text" value="1h" }}</div>
            <div>{{input class="hHotelAttraction" type="text" value="Mai nimimc" }}</div>
        </div>
    </div>
    <div class="hRightAdvanced">
        {{young-slider className="hSlider"}}
    </div>
</div>